* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 650px;
    margin: 50px auto;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.letter {
    width: 40px;
    height: 40px;
    padding: 0 10px;
}

.counrty-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 1px solid black;
    height: 40px;
}

.letter-box {
    display: flex;
    gap: 10px;
    justify-content: center;
}